* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .logo {
    @apply font-sans;
  }
  .progress-status {
    @apply p-2 rounded-full border-[3px] z-[1] bg-white;
  }
  .user-pg-header {
    @apply border-b py-2;
  }
  .user-pg-title {
    @apply text-2xl font-semibold mb-4;
  }
}
@layer base {
  [type='text'],
  [type='email'],
  [type='url'],
  [type='password'],
  [type='number'],
  [type='date'],
  [type='datetime-local'],
  [type='month'],
  [type='search'],
  [type='tel'],
  [type='time'],
  [type='week'],
  [multiple],
  textarea,
  select {
    @apply w-full border-gray-300 rounded-lg shadow-sm focus:border-primary focus:ring-primary;
  }
  [type='checkbox'],
  [type='radio'] {
    @apply border-gray-300 rounded text-indigo-600 focus:ring-indigo-500;
  }
  ,
  [type='button'] {
    @apply focus:ring-primary;
  }

  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  /* Firefox */
  input[type='number'] {
    -moz-appearance: textfield;
  }
}
